<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Analise Sensorial</title>

</head>

</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="panel panel-default">
			<div align="center" class="panel-heading">
				<h5>
					<strong>Cadastro de Análise Sensorial</strong>
				</h5>
			</div>
			<form class="container" method="post" th:object="${escala}"
				th:action="@{/analisesensorial/saveescala}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>

				<fieldset>
					<label><strong>Selecione os quesitos de avaliação da escala hedônica:</strong></label>
					<div class="form-group">

						<div th:each="avaliacaohedonica : ${avaliacoes}">
							<input type="checkbox" th:field="*{avaliacaohedonica}"
								th:value="${avaliacaohedonica.id}"><span
								th:text="${'  '}"></span><span
								th:text="${avaliacaohedonica.pergunta}"></span><br>
						</div>

					</div>
				</fieldset>
				<br> <br>

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button>
						<a th:href="@{/}" class="btn btn-sm btn-danger">Cancelar</a>
					</button>
				</div>

			</form>

		</div>
	</div>
</body>
</html>



