<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Produtos da Análise</title>

</head>

</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="panel panel-default">
			<div align="center" class="panel-heading">
				<h5>
					<strong>Cadastro de Produtos da Análise</strong>
				</h5>
			</div>
			<form class="container" method="post" th:object="${produto}"
				th:action="@{/produto/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">

						<input type="hidden" th:field="*{analisesensorial}"
							th:value="${analisesensorial.id}">

						<fieldset>
							<div class="form-group row">
								<div class="col-md-6 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
									<label>Nome</label> <input type="text"
										class="form-control input-sm" th:field="*{nome}"
										required="required" autofocus="autofocus" maxlength="150" />
								</div>



								<div class="col-md-6 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">
									<label>Descrição</label> <input type="text"
										class="form-control input-sm" th:field="*{descricao}"
										autofocus="autofocus" maxlength="150" />
								</div>

							</div>
						</fieldset>
						<br>

						<fieldset>
							<div class="form-group row">
								<div class="col-md-12"
									th:classappend="${#fields.hasErrors('ingrediente')}? 'has-error'">
									<label>Ingrediente(s)</label>
									<textarea type="text" class="form-control input-sm"
										th:field="*{ingrediente}" autofocus="autofocus"
										maxlength="250"></textarea>
								</div>
							</div>
						</fieldset>

						<br> <br>

						<fieldset>
							<div class="form-group row">
								<button type="submit" class="btn btn-primary">Cadastrar</button>
								<button>
									<a th:href="@{/}" class="btn btn-sm btn-danger">Cancelar</a>
								</button>
							</div>
						</fieldset>
					</div>
				</div>
			</form>

		</div>
	</div>
</body>
</html>



