<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>

<body>
<div th:fragment="menu-esquerdo">
		<ul 
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Menu esquerdo -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
				<div>
				
<!-- 					<img width="60px" th:src="@{/img/favicon.png}"> -->
				</div>
				<div class="sidebar-brand-text mx-3">SENSORY</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link">
				<p align="center"><span class="profile-text">usuario</span></p>
			</a></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			
			
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUsuario"
				aria-expanded="false" aria-controls="collapseUsuario"> <i
					class="fas fa-fw fa-users"></i> <span>Usuario</span>
			</a>
				<div id="collapseUsuario" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded"> 
							<a class="collapse-item" th:href="@{/usuario/add}">Cadastrar Novo</a> 
							<a class="collapse-item" th:href="@{/usuario/listar}">Listar Todos</a>
					</div>
				</div>
			</li>

			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseAnalise"
				aria-expanded="false" aria-controls="collapseAnalise"> <i
					class="fas fa-fw fa-users"></i> <span>Análise Sensorial</span>
			</a>
				<div id="collapseAnalise" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded"> 
							<a class="collapse-item" th:href="@{/analisesensorial/add}">Cadastrar Nova</a> 
							<a class="collapse-item" th:href="@{/analisesensorial/listar}">Minhas Análises</a>
					</div>
				</div>
			</li>
			
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseAvaliador"
				aria-expanded="false" aria-controls="collapseAvaliador"> <i
					class="fas fa-fw fa-users"></i> <span>Avaliador</span>
			</a>
				<div id="collapseAvaliador" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded"> 
							<a class="collapse-item" th:href="@{/avaliador/add}">Cadastrar Novo</a> 
							<a class="collapse-item" th:href="@{/avaliador/listar}">Listar Todos</a>
					</div>
				</div>
			</li>
			
			<hr class="sidebar-divider">
			<div class="sidebar-heading">Configurações</div>

			
			<li class="nav-item"><a class="nav-link "th:href="@{/logout}">
					<i class="fa fa-sign-out-alt" aria-hidden="true"></i> 
					<span title="Sair do sistema">Sair</span></a>
			</li>
		</ul>
	</div>
	
</body>
</html>
