<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>

<body>
<div th:fragment="menu-esquerdo">
		<ul 
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Menu esquerdo -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				href="#">
				<div>
				
<!-- 					<img width="60px" th:src="@{/img/favicon.png}"> -->
				</div>
				<div class="sidebar-brand-text mx-3">SENSORY</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link">
				<p align="center"><span class="profile-text">usuario</span></p>
			</a></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			
			
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseatd"
				aria-expanded="false" aria-controls="collapseatd"> <i
					class="fas fa-fw fa-users"></i> <span>Menu</span>
			</a>
				<div id="collapseatd" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
							<!-- <a class="collapse-item" th:href="@{/paciente/add}">Cadastrar Pacientes</a>
								 <a class="collapse-item" th:href="@{/paciente/listar}">Listar Pacientes</a>   
							<a class="collapse-item" th:href="@{/boletim/addPaciente}">Acolher paciente</a> 
							<a class="collapse-item" th:href="@{/boletim/listarStatusAtd}">Acolhimentos realizados</a> --> 
							<a class="collapse-item" th:href="@{/}">Cadastro de usuario</a> 
							<a class="collapse-item" th:href="@{/}">Listar</a>
					</div>
				</div>
			</li>

			
			<hr class="sidebar-divider">
			<div class="sidebar-heading">Configurações</div>

			
			<li class="nav-item"><a class="nav-link "th:href="@{/logout}">
					<i class="fa fa-sign-out-alt" aria-hidden="true"></i> 
					<span title="Sair do sistema">Sair</span></a>
			</li>
		</ul>
	</div>
	
</body>
</html>
