<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Analise Sensorial</title>

</head>

</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="panel panel-default">
			<div align="center" class="panel-heading">
				<h5>
					<strong>Cadastro de Análise Sensorial</strong>
				</h5>
			</div>
			<form class="container" method="post" th:object="${analisesensorial}"
				th:action="@{/analisesensorial/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>

				<input name="usuario" type="hidden" th:field="*{usuario}"
					th:value="*{usuario}">

				<div class="row">
					<div class="col-lg-12">
						<fieldset>
							<div class="form-group row">
								<div class="col-sm-4 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">
									<label>Descrição da Análise</label> <input type="text"
										class="form-control input-sm" th:field="*{descricao}"
										autofocus="autofocus" maxlength="150" />
								</div>


								<div class="col-sm-4 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('local')}? 'has-error'">
									<label>Local</label> <input type="text"
										class="form-control input-sm" th:field="*{local}"
										autofocus="autofocus" maxlength="150" />
								</div>

								<div class="col-sm-4 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('sala')}? 'has-error'">
									<label>Sala</label> <input type="text"
										class="form-control input-sm" th:field="*{sala}"
										autofocus="autofocus" maxlength="150" />

								</div>
							</div>
						</fieldset>
						<br>


						<fieldset>
							<div class="form-group row">
								<div class="col-sm-3 mb-3 mb-sm-0" name="data"
									th:classappend="${#fields.hasErrors('data')}? 'has-error'">
									<label>Data:</label> <input type="date"
										class="form-control form-control" th:field="*{data}"
										data-mask="00/00/0000" maxlength="150" />
								</div>


								<div class="col-sm-6 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('alergias')}? 'has-error'">
									<label>Alergias</label> <input type="text"
										class="form-control input-sm" th:field="*{alergias}"
										autofocus="autofocus" maxlength="150" />

								</div>

								<div class="col-sm-3 mb-3 mb-sm-0"
									th:classappend="${#fields.hasErrors('qtdAmostras')}? 'has-error'">
									<label>Quantidade de Amostras</label> <input type="text"
										class="form-control input-sm" th:field="*{qtdAmostras}"
										autofocus="autofocus" maxlength="150" />

								</div>
							</div>
						</fieldset>
						<br>

						<fieldset>
							<div class="form-group row">
								<div class="col-sm-4 mb-3 mb-sm-0">
									<label>Informe a Escala: </label> <select
										th:field="*{escala.nome}" class="form-control">
										<option selected value="-1">selecione</option>
										<option th:value="Hedonica">Hedônica</option>
									</select>

								</div>
							</div>
						</fieldset>
					</div>

				</div>
				<br>
				<br>

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button>
						<a th:href="@{/}" class="btn btn-sm btn-danger">Cancelar</a>
					</button>
				</div>

			</form>

		</div>
	</div>

</body>
</html>



