<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Listagem de Analise Sensoriais</title>
</head>
<body>

	<div class="content-wrapper" layout:fragment="corpo">
		<div class="panel panel-default">
			<fieldset>
				<div>
					<div class="panel-heading">
						<div align="center">
							<h2>
								<strong>Análises Sensoriais</strong>
							</h2>
						</div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-sm table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Descrição</th>
										<th>Local</th>
										<th>Sala</th>
										<th>Status</th>
										<th>Data</th>
										<th>Qtd Amostras</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="analisesensorial : ${analisesensoriais}">
										<td th:text="${analisesensorial.descricao}"></td>
										<td th:text="${analisesensorial.local}"></td>
										<td th:text="${analisesensorial.sala}"></td>
										<td th:text="${analisesensorial.status}"></td>
										<td th:text="${analisesensorial.data}"></td>
										<td th:text="${analisesensorial.qtdAmostras}"></td>
										<td>
											<div align="center">
												<div class="btn-group pull-right">
													<a class="btn btn-sm btn-info"
														th:href="@{/analisesensorial/details/{id}(id=${analisesensorial.id})}">Visualizar</a>
													<a class="btn btn-sm btn-primary"
														th:href="@{/analisesensorial/encerrar/{id}(id=${analisesensorial.id})}">Encerrar</a>
													<a class="delete btn btn-sm btn-danger"
														th:href="@{/analisesensorial/excluir/{id}(id=${analisesensorial.id})}">Excluir</a>
													<a class="btn btn-sm btn-info"
														th:href="@{/analisesensorial/respostasanalise/{id}(id=${analisesensorial.id})}">Ver
														Respostas</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</fieldset>
			<br>
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/analisesensorial/add}">Adicionar
					Nova</a>
			</div>

		</div>
	</div>

</body>
</html>