<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Usuario</title>

</head>

</head>
<body>
		<div class="content-wrapper" layout:fragment="corpo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>Cadastro de Usuarios</strong>
				</div>
			<form class="container" method="post" th:object="${usuario}"
				th:action="@{/usuario/save}">

				<!--Input responsável em guardar o id-->
				<input id="id" name="id" type="hidden" th:field="*{id}"
					th:value="*{id}">

				<!-- div reponsável em mostrar os erros -->
				<div class="form-group row">
					<div class="alert alert-danger alert-dismissible fade show"
						role="alert" th:if="${#fields.hasAnyErrors()}">

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>

						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<strong th:text="${detailedError.message}"> </strong>
						</div>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
					    <label>Nome</label>
					    <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">                                                          
					<div class="col-md-4" th:classappend="${#fields.hasErrors('cpf')}? 'has-error'">
					    <label>CPF</label>
					    <input type="text" class="form-control input-sm" th:field="*{cpf}" autofocus="autofocus" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label>Sexo:</label> <select th:field="*{sexo}"
						class="form-control form-control">
						<option selected value="-1">Selecione um Sexo</option>
						<option th:value="Masculino">Masculino</option>
						<option th:value="Feminino">Feminino</option>
					</select>
				</div>
				
				
				<div class="form-group row">
					<div class="col-sm-4 mb-3 mb-sm-0" name="data"
						th:classappend="${#fields.hasErrors('dataNascimento')}? 'has-error'">
						<label>Data de Nascimento:</label> <input type="date"
							class="form-control form-control" th:field="*{dataNascimento}"
							data-mask="00/00/0000" maxlength="150" />
					</div>
				</div>
				
				
				<div class="form-group row">
					<div class="col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
						<label>Email</label> 
						<input type="email" class="form-control input-sm" th:field="*{email}" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-4" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label>Crie um Username</label> 
						<input type="text" class="form-control input-sm" th:field="*{username}" maxlength="150"/>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-md-4" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
						<label>Crie uma Senha</label> 
						<input type="password" class="form-control input-sm" th:field="*{password}" maxlength="150"/>
					</div>
				</div>
				
				<label>Selecione o(s) Papel(is):</label>
				 <div class="form-group">
				
					 <div th:each="role : ${roles}">
						 <input type="checkbox" th:field="*{role}" th:value="${role.id}"><span th:text="${'  '}"></span><span th:text="${role.nome}"></span><br>
					 </div>
				 
				 </div>
				

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button><a th:href="@{/}" class="btn btn-sm btn-danger">Cancelar</a></button>
				</div>

			</form>

		</div>
		</div>
</body>
</html>


	
