<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Listagem de Avaliador</title>
</head>
<body>

	<div class="content-wrapper" layout:fragment="corpo">
		<div class="panel panel-default">
			<fieldset>
				<div>
					<div align="center" class="panel-heading">
						<h5>
							<strong>Lista de Avaliadores</strong>
						</h5>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-sm table-striped table-hover table-bordered">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Cpf</th>
										<th>Sexo</th>
										<th>Data Nascimento</th>
										<th>Fumante</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="usuario : ${avaliadores}">
										<td th:text="${usuario.nome}"></td>
										<td th:text="${usuario.cpf}"></td>
										<td th:text="${usuario.sexo}"></td>
										<td th:text="${usuario.dataNascimento}"></td>
										<td th:text="${usuario.fumante}"></td>
										<td>
											<div align="center">
												<div class="btn-group pull-right">
													<a class="btn btn-sm btn-primary"
														th:href="@{/avaliador/edit/{id}(id=${usuario.id})}">Editar</a>
													<a class="delete btn btn-sm btn-danger"
														th:href="@{/avaliador/delete/{id}(id=${usuario.id})}">Excluir</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</fieldset>
			<br>
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/avaliador/add}">Adicionar
					Novo</a>
			</div>

		</div>
	</div>

</body>
</html>